@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #555;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: red;
  }
}


body{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('https://img.freepik.com/premium-photo/majestic-mountain-range-reflects-tranquil-scene-beauty-generative-ai_1297777-15.jpg'),fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* background-color: red; */
}





